* {
    margin: 0;
    padding: 0;
}


/* Pozadinska slika na body elementu */

body {
    background-image: url('images/bg.jpg');
}

#container {
    width: 750px;
    /* Centriranje block elemenata uz pomoc automatskih margina: */
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    background-color: red;
    padding: 0 40px 10px 20px;
    /* Zaobljavanje uglova redosledom u smeru kazaljke na satu: gornji-levi, gornji-desni, donji-desni, donji-levi */
    border-radius: 0 0 10px 10px;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 60px;
    float: left;
    padding-top: 5px;
}

nav {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    background-color: black;
    width: 40px;
    height: 80px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

nav ul li a img {
    width: 80%;
    margin-top: 44px;
}

main {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px 10px;
}

main img {
    float: left;
    width: 40%;
}

#prvi {
    float: left;
    width: 59%;
    text-align: right;
    padding-top: 10px;
    margin-right: 1%;
}

h2 {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 2px 20px;
    text-align: right;
}

p {
    margin: 10px 0;
    text-align: justify;
}

#kolone {
    float: left;
    width: 100%;
    margin-top: 20px;
}

h3 {
    background-color: red;
    padding: 5px;
}

.kolona {
    width: 32%;
    float: left;
    border-right: 1px solid white;
    padding: 0 4px;
}

.nemaBorder {
    border-right: none;
}

.kolona a {
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0 15px;
}

footer {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
}

footer a img {
    vertical-align: middle;
}