* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Arial, Tahoma, sans-serif
}

main {
  height: 100vh;
  background-image: url('images/header.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
}

nav {
  /* Navigacija fiksirana na vrhu stranice, bez obzira na scroll */
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #607D8B;
}

nav ul { 
  list-style: none; 
}
nav ul li { 
  display: inline-block; 
}

nav ul li a {
  /* Linkove smo prebacili na inline-block kako bi padding radio
  <a> tag je inline element, a na njima ne rade padding, margin, width i height */
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover { 
  background-color: #455A64; 
}

h1 { 
  padding-top: 35vh; 
}

button {
  background-color: #607D8B;
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.1em;
  /* box-shadow pravilo za razlicite browsere:
   - webkit: Chrome i Safari
   - moz: Firefox
   - bez prefiksa: Ostali browseri */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

section {
  padding: 75px 150px;
  text-align: center;
}

h2 {
  color: #607D8B;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.kolona {
  display: inline-block;
  width: 32%;
  padding: 10px 20px;
}

h3 { 
  margin-bottom: 20px; 
}

p  { 
  text-align: justify; 
}

#latest {
  padding: 0 30px;
}

footer { 
  text-align: center; 
  padding: 10px;
  background-color: #607D8B;
  color: white;
}

/* header je sakriven na osnovnoj verziji sajta */
header { 
  background-color: #455A64;
  display: none; 
}

header h1 { 
  padding: 20px; 
}

/* CSS ZA MOBILNU VERZIJU (Ispod 1000px po sirini) */
@media screen and (max-width: 1000px) {
  
  /* Prikazemo header */
  header { 
    display: block; 
  }

  /* Sakrijemo sliku sa pozadine main-a i resetujemo mu visinu (da ne bude 100vh) */
  main {
    background-image: none;
    height: auto;
  }

  /* Sakrijemo naslov u main-u */
  main h1 { 
    display: none; 
  }

  /* Posto ce gornje pravilo sakriti i h1 u header-u, moramo ga ponovo prikazati */
  header h1 { 
    display: block; 
  }

  /* Sakrijemo dugme u main-u */
  button { 
    display: none; 
  }

  /* Resetujemo position pravilo navigaciji */
  nav { 
    position: initial; 
  }

  /* Stavke navigacije treba da se prikazuju svaka u svom redu */
  nav ul li, nav ul li a { 
    display: block;
  }

  /* Kolone treba da zauzmu ceo red */
  .kolona { 
    width: 100%; 
  }

  section { 
    padding: 30px; 
  }
  
}