@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

html { 
  background: url(../slike/city.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
	height: 100%;
}

nav {
	width: 10%;
	height: 100%;
	background-color: rgba(255, 102, 72, 0.8);
	float: left;
}

#mainNavList {
	list-style: none;
}

#mainNavList li {
	width: 90%;
	height: 10%;
	padding: 5%;
	text-align: center;
	color: white;	
	cursor: pointer;
	font-size: 20px;
	border-bottom: 1px solid white;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
}

#mainNavList li.selectedItem {
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

#mainNavList li.activeItem {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	cursor: default;
}

#content {
	width: 84%;
	height: 100%;
	float: right;
	overflow-x: auto;
	padding: 0 3%;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
}

.previewDiv {
	width: 12%;
	height: 10vw;
	background: black;
	border-radius: 50%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	opacity: 0.7;
	margin: 2%;
	display: inline-block;
	cursor: pointer;
}

.previewDiv:hover {
	opacity: 1;
}

#overlay {
	width: 100%;
	height: 80%;
	position: fixed;
	top: 5%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

.arrows {
	width: 8%;
	height: 7vw;
	font-size: 66px;
	color: white;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	float: left;
	margin-top: 20%;
}

#imgDiv {
	width: 80%;
	height: 90%;
	float: left;
	padding: 2%;
	text-align: center;
}

#imgDiv img{
	height: 80%;
}

#imgDiv p{
	width: 100%;
	height: 15%;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

#albumList {
	width: 100%;
	list-style: none;	
}

#albumList li {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 10px 20px;
	font-size: 25px;
	cursor: pointer;	
}

#albumList li:hover {
	color: rgb(255, 102, 72); 
}