* {
    font-family: sans-serif;
}

body {
    background-color: #e6fff2;
}

.container {    
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #009879;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 14px 15px;
}

.styled-table td {
    padding: 8px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

button{
    padding: 5px 10px;
    border: 2px solid #009879; 
    border-radius: 5px;
    font-size: 1em;
    background: #009879;
    color: white;
}

button:hover {
    cursor: pointer;
}

.formDiv {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 300px;
}

form button {
    width: 100%;
    margin-top: 10px;
    padding: 8px 10px;
}

input {
    width: 93%;
    border: 1px solid  #009879;
    padding: 10px;
    border-radius: 5px;
}