* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('images/city.jpg');
}

nav {
    float: left;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 102, 72, 0.8);
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
}

nav a:hover {
    background-color: black;
}

main {
    float: left;
    width: 90%;
    padding: 10px 20px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    float: left;
    padding: 5px;
    margin-bottom: 5px;
}

h2 {
    background-color: rgba(255, 102, 72, 0.8);
    float: left;
    clear: both;
    padding: 5px;
}

#slike {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

img {
    width: 12%;
    height: 10vw;
    border-radius: 50%;
    opacity: 0.6;
    margin: 0 20px;
    cursor: pointer;
}

img:hover {
    opacity: 1;
}

p {
    float: left;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    padding: 3px;
}

.button {
    float: right;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

.whiteButton {
    background-color: white;
    color: black;
}

.blackButton {
    background-color: black;
    color: white;
}